<script src="https://kit.fontawesome.com/17210149d5.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/datatables/datatables.min.css">
<!--datables boostrap-->
<link rel="stylesheet" type="text/css" href="/datatables/DataTables-1.10.18/css/dataTables.bootstrap.min.css">
<style>
	header {
		background: #8E2DE2;
		background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
		background: linear-gradient(to right, #4A00E0, #8E2DE2);
	}

	/*estilos para la tabla*/
	table th {
		background-color: #337ab7 !important;
		color: white;
	}

	table>tbody>tr>td {
		vertical-align: middle !important;
	}

	/*para alinear los botones y cuadro de busqueda*/
	.btn-group,
	.btn-group-vertical {
		position: absolute !important;
	}
</style>
<script src="/js/tablas.js"></script>